/* ======================================================================
  Pasar px a rems
======================================================================== */
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

// Mixin to convert units to rems
@mixin rem($property, $values) {
    $px: ();
    $rem: ();

    @each $value in $values {
        @if $value == 0 or $value == auto {
            $px: append($px, $value);
            $rem: append($rem, $value);
        }
        @else {
            $unit: unit($value);
            $val: parseInt($value);

            @if $unit == "px" {
                $px: append($px, $value);
                $rem: append($rem, $val / 16 + rem);
            }

            @if $unit == "rem" {
                $px: append($px, $val * 16 + px);
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        #{$property}: $px;
    }
    @else {
        #{$property}: $px;
        #{$property}: $rem;
    }
}

/* ======================================================================
  Transiciones
======================================================================== */

@mixin transition($args...) {
  -webkit-transition:$args;
  -moz-transition:$args;
  -ms-transition:$args;
  -o-transition:$args;
  transition:$args;
}

@mixin transform($args...) {
  -webkit-transform:$args;
  -ms-transform:$args;
  -moz-transform:$args;
  -o-transform:$args;
  transform:$args;
}

/* ======================================================================
  Degradados
======================================================================== */
/**@mixin linear-gradient($direction, $color-stops...) {
    // Direction has been omitted and happens to be a color-stop
    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient($direction, $color-stops);
    background: linear-gradient($direction, $color-stops);
}**/

@mixin linear-gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(left, $from 0%, $to 100%);
  background: -o-linear-gradient(left, $from 0%, $to 100%);
  background: -ms-linear-gradient(left, $from 0%, $to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1 );
}


@mixin radial-gradient($from, $to) {

  background: $from;
  background: -moz-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: -o-radial-gradient(center, ellipse cover,$from 0%, $to 100%);
  background: -ms-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: radial-gradient(ellipse at center, $from 0%, $to 100%);

}

/* ======================================================================
  Placeholder mixin
======================================================================== */
@mixin input-placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }
}

/* ======================================================================
  Box shadow prefix
======================================================================== */
@mixin box-shadow($properties) {
    -webkit-box-shadow: $properties;
    -moz-box-shadow: $properties;
    box-shadow: $properties;
}

/* ======================================================================
  Breakpoints function
======================================================================== */
@function breakpoint($breakpoint) {
  @if not map-has-key($breakpoints, $breakpoint) {
    @warn "No breakpoint found for `#{$breakpoint}` in $breakpoints map. Property omitted.";
  }

  @return map-get($breakpoints, $breakpoint);
}

/* ======================================================================
  Z-index function
======================================================================== */
@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}

/* ======================================================================
  Position
======================================================================== */
/// Shorthand mixin for offset positioning
/// @param {String} $position - Either `relative`, `absolute` or `fixed`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/* ======================================================================
  Flexbox
======================================================================== */
/// Shorthand mixin for flexbox display
/// @param {String} $direction - Either `row (default)`, `row-reverse` , `column` or `column-reverse`
/// @param {String} $justify - Either `flex-start (default)`, `flex-end` , `center` , `space-between` , `space-around` or `space-evenly`
/// @param {String} $align - Either `flex-start (default)`, `flex-end` , `center` , `baseline` or `stretch` 
@mixin flexbox($direction: null, $justify: null, $align: null) {
  
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;

  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;

}
