/* ======================================================================
   Utility
========================================================================= */

%clearfix {
    *zoom: 1;

    &::before, &::after {
        content: ".";
        display: table;
        font-size: 0;
        line-height: 0;
        height: 0;
        visibility: hidden;
        vertical-align: baseline;
    }

    &::after {
        clear: both;
    }
}

/* ======================================================================
   Custom grid column width (12 columns system as bootstrap)
========================================================================= */

@for $i from 1 through 12 {
    .width-col-#{$i} {
        position: relative;
        width: percentage($i / 12);

        @extend %clearfix;

    }
}

/* ======================================================================
   Padding classes
========================================================================= */
.less-padding {
    padding-left:0;
    padding-right:0;
}

/* ======================================================================
   Background color classes
========================================================================= */
.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-grey {
    background-color: $dark-grey-2;
}

.bg-orange {
    background-color: $orange;
}

.bg-pink {
    background-color: $pink
}

.bg-white {
    background-color: $white;
}

/* ======================================================================
   Text color classes
========================================================================= */
.txt-dark-blue {
    color: $dark-blue;
}

.txt-black {
    color: $black-2;
}

.txt-white {
    color: $white;
}