/* ==============================================
  Settings
================================================= */



/* =======================================
  Colors
========================================== */
$black: #000000;
$black-2: #222222;
$dark-blue: #243d4d;
$orange: #eeba64;
$pink: #e55f68;
$dark-grey: #333333;
$dark-grey-1: #555555;
$dark-grey-2: #999999;
$light-grey: #f1f1f1;
$light-grey-2: #f6f6f6;
$light-grey-3: #dddddd;
$white: #ffffff;


// ========= Refactoring color swatch ========== //
$primary-brand-color: $pink;
$secondary-brand-color: $orange;
$terciary-brand-color: $dark-blue; 
$primary-text-color: $dark-grey;
$secondary-text-color: $dark-grey-2;

/* =============================================
  General values
================================================ */
// Paths
$fonts-folder-path: '../fonts/';


// Border radius
$primary-border-radius: 3px;

// Transition
$base-transition: all .2s linear;


/* ============================================
  Maps
=============================================== */
// Grid breakpoints (same than Bootstrap4)
$breakpoints: (
	xs : 576px,
	sm  : 767px,
	md  : 992px,
	lg  : 1200px,
	xl 	: 1400px,

);

/// Z-indexes map
$z-layers: (
  'modal': 	101,
  'above': 	  9,
  'default':  1,
  'below':	 -1,
);


/* =============================================
  Main container widths
================================================ */
@media screen and (min-width: map-get($breakpoints, xl)) {
	.container {
		width: 1400px;
	}
}

@media screen and (max-width: map-get($breakpoints, xl)) {
	.container {
		width: 100%;
	}
}

