/* ==========================================================
  Alerts
========================================================== */
.alert-ie {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: z("modal");
	padding: 40px;
	text-align: center;
	background-color: $dark-blue;
	color: $white;
	box-shadow: 0 0 12px 0 rgba(0,0,0,.4);

	a {
		text-decoration: underline;
		font-weight: 600;
	}
}