/* ======================================================================
  Animated icons
======================================================================== */

/* ===================================
  Hamburger menu icon
===================================== */
$icon-size: 32px;
$icon-size-mobile: 24px;
$icon-margin: 15px;
$bar-space: 8px;
$bar-thickness: 2px;
$icon-transition-duration: 0.3s;

.animated-icon-menu {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: $icon-size;
	height: $icon-size;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
    margin: 0 $icon-margin;
    transition: background $icon-transition-duration linear;
    background: transparent;
    z-index: z("above");

    @media screen and (max-width: breakpoint("sm")) {
		width: $icon-size-mobile;
		height: $icon-size-mobile;
    }

	&:focus {
		outline: none;
	}

	span {
		display: block;
		position: absolute;
		top: ($icon-size / 2) - ($bar-thickness / 2);
		left: 0;
		right: 8px;
		height: $bar-thickness;
		background: $white;
		transition: background 0s $icon-transition-duration;

		@media screen and (max-width: breakpoint("sm")) {
			top: 10px;
		}

		&:before,
		&:after {
			position: absolute;
			display: block;
			left: 0;
			right: -4px;
			height: $bar-thickness;
			background-color: $white;
			content: "";
			transition-duration: $icon-transition-duration, $icon-transition-duration;
  			transition-delay: $icon-transition-duration, 0s;
		}

		&:before {
			top: - $bar-space;
			transition-property: top, transform;

			@media screen and (max-width: breakpoint("sm")) {
				top: -6px;
			}
		}

		&:after {
			bottom: - $bar-space;
			transition-property: bottom, transform;

			@media screen and (max-width: breakpoint("sm")) {
				bottom: -6px;
			}
		}

	}
/* ===================================
  Hamburger menu icon - active
===================================== */
	&.js-active-icon {
		
		span {
			background: none;

			&:before {
				top: 0;
	  			transform: rotate(45deg);
			}

			&:after {
				bottom: 0;
	  			transform: rotate(-45deg);
			}

			&:before,
			&:after {
				transition-delay: 0s, $icon-transition-duration;
			}

		}
	}
}