/* ======================================================================
  Masonry posts
======================================================================== */
$masonry-post-height-sm: 160px;
$masonry-post-height-xs: 120px;

.masonry-posts {
	padding: 60px 0;
	background-color: $light-grey;

	@media screen and (max-width: breakpoint("sm")) {
		padding: 30px 0;

		.container {
			width: 100%;
		}
	}

	.grid {
		position: relative;

		@media screen and (max-width: breakpoint("sm")) {
			height: auto !important;
		}
	 
		.grid-item {
			width: 33.3333333333%;

			@media screen and (max-width: breakpoint("md")) {
				width: 50%;
			}

			// removing the masonry effect in tablets and mobiles
			@media screen and (max-width: breakpoint("sm")) {
				width: 100%;
    			position: relative !important;
			    left: initial !important;
			    top: initial !important;
			}
		}

	}

	.masonry-post {
		background-color: $white;
		margin: 0 15px 30px;
		border: 1px solid $light-grey-3;
		border-radius: $primary-border-radius;
		box-shadow: 0 0 11px 0 rgba(0,0,0,.1);
		@include transition (all .2s linear);

		&:hover {
			box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
			@include transform(scale(1.02,1.02));
		}

		@media screen and (max-width: breakpoint("sm")) {
			height: $masonry-post-height-sm;
			overflow: hidden;
			margin-bottom: 20px;
		}
		
		@media screen and (max-width: breakpoint("xs")) {
			height: $masonry-post-height-xs;
		}

		.masonry-post-thumbnail {
			display: block;
			overflow: hidden;

			@media screen and (max-width: breakpoint("sm")) {
				height: $masonry-post-height-sm;
				width: $masonry-post-height-sm;
				float: left;
				position: relative;
			}

			@media screen and (max-width: breakpoint("xs")) {
				height: $masonry-post-height-xs;
				width: $masonry-post-height-xs;
			}
			
			img {
				width: 100%;
				height: auto;
				border-radius: $primary-border-radius $primary-border-radius 0 0;
				-webkit-transform: translateZ(0);
			    transform: translateZ(0);
			    -webkit-transition-duration: 5s;
			    transition-duration: 5s;
			    -webkit-transition-property: transform;
			    transition-property: transform;

			    @media screen and (max-width: breakpoint("sm")) {
					height: $masonry-post-height-sm;
					width: auto;
					border-radius: $primary-border-radius 0 0 $primary-border-radius;
					position: absolute;
					left: 50%;
					margin-left: -$masonry-post-height-sm;
				}

				@media screen and (max-width: breakpoint("xs")) {
					height: $masonry-post-height-xs;
					margin-left: -$masonry-post-height-xs;
				}

			    &:hover {
			    	-webkit-transform: scale(1.3);
	    			transform: scale(1.3);
			    }
			}
		}
		
		.masonry-post-content {
			padding: 20px 40px 30px;
			position: relative;

			@media screen and (max-width: breakpoint("sm")) {
				margin: 20px 20px 20px $masonry-post-height-sm + 20;
				padding: 0;
				max-height: $masonry-post-height-sm - 40;
				overflow: hidden;
			}

			@media screen and (max-width: breakpoint("xs")) {
				margin: 20px 20px 20px $masonry-post-height-xs + 20;
				max-height: $masonry-post-height-xs - 40;
			}

			.masonry-post-category {
				@media screen and (min-width: breakpoint("sm")) {
					position: absolute;
					width: 100%;
					top: -15px;
					text-align: center;
					left: 0;
				}

				a {
					display: inline-block;
					text-transform: uppercase;
					color: $white;
					padding: 6px 15px;
					background-color: rgba(229,95,104,.9);
					@include rem(font-size,10px);
					font-weight: 400;
					letter-spacing: 2px;
					font-family: $headlines-font;
					@include transition(all .2s linear);

					@media screen and (max-width: breakpoint("sm")) {
						background-color: transparent;
						color: $pink;
						padding: 0;
						margin: 0 0 5px 0;
					}

					@media screen and (min-width: breakpoint("sm")) {
						&:hover {
							text-decoration: none;
							background-color: rgba(229,95,104,1);
						}
					}
				}
			}

			.tit-masonry-post {
				@extend %tit;
				@include rem(font-size,28px);
				
				@media screen and (max-width: breakpoint("md")) {
					@include rem(font-size, 22px);
				}

				@media screen and (max-width: breakpoint("sm")) {
					margin: 0 0 10px 0;
					@include rem(font-size, 20px);
				}

				@media screen and (max-width: breakpoint("xs")) {
					@include rem(font-size, 18px);
				}

				a {
					color: $terciary-brand-color;
				}
			}

			p {
				@include rem(font-size, 18px);
				color: $secondary-text-color;
				line-height: 1.4;

				@media screen and (max-width: breakpoint("sm")) {
					@include rem(font-size, 16px);
					margin: 0;
				}

				@media screen and (max-width: breakpoint("xs")) {
					display: none;
				}	
			}
		}
		
	} 
}

