/* ======================================================================
  Header
======================================================================== */
.header {
	color: $white;
	height: 65px;
	line-height: 65px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	@include transition(all .2s ease-in-out);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: breakpoint("sm")) {
		height: 55px;
		line-height: 55px;
	}

	.logo {
	
		display: none;
		
	}


	&.header-scroll {
		background-color: $black-2;
		border-bottom: 0;
		box-shadow: 0 2px 10px 1px rgba(0,0,0,.4);

		.logo {
			display: inline-block;
			max-width: 140px;
			margin-top: 30px;

			@media screen and (max-width: breakpoint("sm")) {
				margin-top: 20px;
			}
		}

	}
	
	
	i {
		cursor: pointer;
		z-index: 99;
		width: 32px;
		margin: 0 15px;

		&.icon-search{
			@include rem(font-size,24px);

			@media screen and (max-width: breakpoint("sm")) {
				@include rem(font-size,22px);
				margin: 0 10px;
			}
		}
	}
}

/* ======================================================================
  Single post header
======================================================================== */
.single-post {

	.header {
		border-bottom: 1px solid rgba(255,255,255,.6);


		.progress-bar {
			display: none;
			height: 5px;
			width: 0;
			@include linear-gradient($orange, $pink);
			position: absolute;
			left: 0;
			top: 62px;
			@include transition(all 0.5s linear);

			@media screen and (max-width: breakpoint("sm")) {
				top: 52px;
			}

		}

		.title-post {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 100%;
			text-align: center;
			top: 0;
			left: 0;
			@include transition(all 0.2s linear);
			@include rem(font-size, 18px);
			font-family: $headlines-font;
			font-weight: 600;
			letter-spacing: -0.8px;
			margin: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 60px;
			overflow: hidden;

			@media screen and (max-width: breakpoint("sm")) {
				@include rem(font-size, 16px);
			}
		}

		.logo {
			
			display: inline-block;
			max-width: 140px;
			margin-top: 30px;

			@media screen and (max-width: breakpoint("sm")) {
				margin-top: 20px;
			}
		}
		
		&.header-scroll {
			
			a {
				display: none;
			}
			
			.title-post {
				opacity: 1;
				visibility: visible;
			}
			.progress-bar {
				display: block;
			}
		}


	}
}


