/* ======================================================================
  Main
======================================================================== */
.main {
	box-shadow: 0 0 16px 0 rgba(0,0,0,.6);
	overflow: hidden;
}

body {

	&.archive,
	&.tag,
	&.search {

		.main {
			min-height: 100vh;
			background-color: $light-grey;
		}
	}
} 