/* ======================================================================
  Page Header
======================================================================== */
.page-header {
	padding: 50px 0;
	text-align: center;
	color: $white;
	@include linear-gradient($orange, $pink);
	position: relative;
	font-family: $primary-font;
	
	h1 {
		margin: 0;
		@include rem(font-size, 50px);
		letter-spacing: -2px;
		font-weight: 100;

		@media screen and (max-width: breakpoint("md")) {
			@include rem(font-size, 36px);
		}

		@media screen and (max-width: breakpoint("xs")) {
			@include rem(font-size, 28px);
		}
	}

}

.home {

	.page-header {
		padding: 140px 0 90px;
		height: 580px;


		@media screen and (max-width: breakpoint("sm")) {
			height: 400px;
			padding: 90px 0;
		}


		&:after {
			position: absolute;
			content: "";
			display: block;
			width: 364px;
			height: 293px;
			bottom: -25px;
			left: 50%;
			background: url('http://www.jonbarral.com/wordpress/wp-content/uploads/2015/12/me.png') no-repeat center center;
			background-size: cover;
			margin-left: -168px;

			@media screen and (max-width: breakpoint("sm")) {
				margin-left: -100px;
				width: 200px;
				height: 161px;
				bottom: 0;
			}
		}

		&:before {
			position: absolute;
			content: "";
			display: block;
			bottom: -45px;
			left: -15%;
			right: -15%;
			height: 60px;
			z-index: 9;
			border-radius: 100% 100% 0 0;
			background-color: $white;
			
			@media screen and (max-width: breakpoint("sm")) {
				display: none;
			}
		}

		h1 {
			margin: 0 0 15px;

			.logo {
				max-width: 500px;

				@media screen and (max-width: breakpoint("sm")) {
					max-width: 320px;
					width: 100%;
				} 
			}

			span {
				display: none;
			}
			
		}

		h2 {
			margin: 0;
			@include rem(font-size,14px);
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 100;

			@media screen and (max-width: breakpoint("sm")) {
				@include rem(font-size,14px);
			}
		}

	}
}