/* ======================================================================
  Search layer
======================================================================== */
.search-layer {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(36,45,77,.98);
	z-index: 101;
	position: fixed;

	.search-layer-inner {
		position: relative;
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;

		.search-form {
			display: table-cell;
			vertical-align: middle;

			.search-field {
				background: transparent;
				border: 0;
				color: $white;
				font-family: $primary-font;
				font-weight: 100;
				border-bottom: 1px solid $light-grey;
				@include rem(font-size,32px);
				width: 550px;

				@media screen and (max-width: breakpoint("sm")) {
					width: 280px;
					@include rem(font-size,24px);
				}

				&:focus {
					outline: none;
				}
			}

			.search-submit {
				display: none;
			}

		}

		.icon-close {
			position: absolute;
			right: 20px;
			top: 20px;
			@include rem(font-size,24px);
			cursor: pointer;
			color: $white;
		}
	}
}