/* ======================================================================
  Sidebar menu
======================================================================== */
%sidebar-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 2px;
}

.menu {
    background-color: $terciary-brand-color;
    @include rem(font-size, 12px);
    box-shadow: inset -20px 0 60px rgba(0,0,0,.4);

    .menu-home-link {
        @extend %sidebar-menu-link;
        display: block;
        margin: 20px 15px;
        @include rem(font-size, 14px);

        i {
            margin-right: 5px;
        }
    }

    h3 {
        color: lighten($terciary-brand-color, 20%);
        border-bottom: 1px solid lighten($terciary-brand-color, 20%);
        padding-bottom: 5px;
        margin: 30px 15px 20px;
        letter-spacing: 2px;
        @include rem(font-size, 12px);
        text-transform: uppercase;
    }

	ul {
		list-style: none;
		margin: 0;
    	padding: 0;
	
    	a {
    		@extend %sidebar-menu-link;
            display: block;
            position: relative;
    		padding: 10px 20px;

            &:before {
                display: inline-block;
                margin: 0 7px 0 0;
                font-family: "fontello";
            }

            &[title="cinema"]:before {
                content: $icon-cinema;
            }

            &[title="history"]:before {
                content: $icon-history;
            }

            &[title="literature"]:before {
                content: $icon-literature;
            }

            &[title="music"]:before {
                content: $icon-music;
            }

            &[title="politics"]:before {
                content: $icon-politics;
            }

            &[title="advertising"]:before {
                content: $icon-advertising;
            }

            &[title="travel"]:before {
                content: $icon-travel;
            }
    	}
	}
}