/* ======================================================================
  Error Pages
======================================================================== */


/* ======================================================================
  Search no results
======================================================================== */
.search-no-results,
.error404 {

	.main {
		
		.container {
			padding: 60px 0;
			text-align: center;

			.alert {
				margin: 0 0 30px;
				@include rem(font-size,18px);
			}

			.search-form {

				.screen-reader-text {
					display: none;
				} 
			}
		}
	}
}

/* ======================================================================
  Error 404
======================================================================== */
.error404 {

	.main {
		min-height: 100vh;
	}
}