/* ======================================================================
  Home
======================================================================== */


/* ======================================================================
  Highlights
======================================================================== */
.highlights {
	padding: 90px 0 60px;
	background-color: $white;

	@media screen and (max-width: breakpoint("md")) {
		
		.container{
			width: 100%;
			padding: 0;

			div[class*='col-']{
				padding: 0;
			}
		}
	}

	@media screen and (max-width: breakpoint("sm")) {
		padding: 5px 0 0;
	}

}

.highlight-post {
	position: relative;
	overflow: hidden;
	height: 235px;

	@media screen and (max-width: breakpoint("lg")) {
		height: 185px;
	}

	@media screen and (max-width: breakpoint("md")) {
		height: 200px;
	}

	@media screen and (max-width: breakpoint("xs")) {
		height: 140px;
	}

	img {
		width: auto;
		height: 100%;
		@include transform(translateZ(0));
		@include transition(transform 3s linear);
		
	    @media screen and (min-width: breakpoint("xs")) and (max-width: breakpoint("sm")) {
	    	position: absolute;
	    	left: 50%;
	    	margin-left: -200px;
	    	height: 100%;
	    }

	    @media screen and (max-width: breakpoint("xs")) {
	    	width: 100%;
	    	height: auto;
	    }
	}

	&:hover{

		img{
			-webkit-transform: scale(1.3);
    		transform: scale(1.3);
		}

		.layer-link:after{
			background-color: rgba(0,0,0,.5);
		}
	}

	&.secondary {

		.caption {
			top: 35px;
			right: 35px;
			bottom: 35px;
			left: 35px;

			@media screen and (max-width: breakpoint("lg")) {
				top: 15px;
				right: 15px;
				bottom: 15px;
				left: 15px;
			}
		}
	}

	&.secondary + .secondary{
		margin-top: 30px;

		@media screen and (max-width: breakpoint("md")) {
			margin-top: 0;
			border-top: 1px solid $white;
		}
	}	

	&.main {
		height: 500px;

		@media screen and (max-width: breakpoint("lg")) {
			height: 400px;
		}

		@media screen and (max-width: breakpoint("md")) {
			border-right: 1px solid $white;
		}

		@media screen and (max-width: breakpoint("xs")) {
			height: 140px;
			border-right: 0;
			border-bottom: 1px solid $white;	
		}

		img { 
			@media screen and (min-width: breakpoint("sm")) {
				height: 500px;
			}
			
			@media screen and (max-width: breakpoint("sm")) and (min-width: breakpoint("xs")) {
				height: 400px;
				width: auto;
			}
		}

		.tit-highlight {
			@include rem(font-size,36px);

			@media screen and (max-width: breakpoint("sm")) {
				@include rem(font-size,20px);
			}
		}
	}

	.layer-link {
		display: block;

		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: rgba(0,0,0,.8);
			@include transition(background-color .3s linear);
		
		}
	}

	.caption {
		position: absolute;
		text-align: center;
		top: 70px;
		left: 70px;
		bottom: 70px;
		right: 70px;
		padding: 0 25px;
		z-index: 99;
		border: 1px solid $dark-grey-2;

		@media screen and (max-width: breakpoint("lg")) {
			top: 30px;
			left: 30px;
			bottom: 30px;
			right: 30px;
		}

		@media screen and (max-width: breakpoint("md")) {
			border: 0;
		}

		.caption-inner {
			position: relative;
			width: 100%;
			height: 100%;

			.caption-title-box {
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}

	.tit-highlight {
		@extend %tit-highlight;
		@include rem(font-size,28px);
		margin: 0 0 30px;
		position: relative;

		

		&:after {
			position: absolute;
			bottom: -15px;
			content:"";
			left: 50%;
			margin-left: -20px;
			width: 40px;
			height: 1px;
			background-color: $white;
		}

		@media screen and (max-width: breakpoint("sm")) {
			@include rem(font-size,20px);
		}
	}

	.highlight-category {
		text-transform: uppercase;
		letter-spacing: 3px;
		text-shadow: 0 0 2px rgba(0,0,0,.7);
		color: $white;
		@include rem(font-size,14px);

		&:hover{
			text-decoration: none;
		}

		@media screen and (max-width: breakpoint("sm")) {
			@include rem(font-size,11px);
		}
	}
}



/* ======================================================================
  Rest of posts
======================================================================== */
%background-line {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	display: block;
	background-color: $light-grey;
}

.rest-of-posts {
	background-color: $white;
	color: $white;
	position: relative;
	overflow: hidden;

	&:before {
		@extend %background-line;
		left: 33.3333%;

		@media screen and (max-width: breakpoint("md")) {
			left: 50%;
		}

		@media screen and (max-width: breakpoint("sm")) {
			display: none;
		}
	}	

	&:after {
		@extend %background-line;
		right: 33.3333%;

		@media screen and (max-width: breakpoint("md")) {
			display: none;
		}
	}

	article {
		overflow: hidden;
		height: 240px;
		border-bottom: 1px solid $light-grey;
		@include transition(background-color .4s cubic-bezier(0.5,0.2,0.5,1));

		@media screen and (max-width: breakpoint("sm")) {
			height: 180px;
		}

		&:hover {
			background-color: $pink;

			.rest-of-posts-content {
				@include transform(translateY(75%));

				@media screen and (max-width: breakpoint("sm")) {
					@include transform(translateY(65%));
				}

				.rest-of-posts-category {
					color: $white;
				}

				h2 {
					a {
						color: $white;
					}
				}
			}
		}

		.rest-of-posts-content {
			padding: 50px;
			position: absolute;
			left: 0;
    		width: 100%;
    		bottom: 180px;
			@include transition(all .4s cubic-bezier(0.5,0.2,0.5,1));
			@include transform(translateY(100%));

			@media screen and (max-width: breakpoint("lg")) {
				padding: 30px;
			}

			@media screen and (max-width: breakpoint("sm")) {
				padding: 20px;
				bottom: 90px;
			}
			
			.rest-of-posts-category {
				@include rem(font-size,12px);
				text-transform: uppercase;
				color: $secondary-text-color;
				letter-spacing: 1px;
			}

			h2 {
				@extend %tit;
				@include rem(font-size,28px);
				margin: 2px 0 10px 0;

				@media screen and (max-width: breakpoint("sm")) {
					@include rem(font-size,22px);
				}

				@media screen and (max-width: breakpoint("xs")) {
					@include rem(font-size,18px);
				}

				a {
					color: $terciary-brand-color;
				}
			}

			p {
				@include rem(font-size,18px);
				margin: 0 0 30px;
				padding: 0 0 30px;
				
				@media screen and (max-width: breakpoint("sm")) {
					@include rem(font-size,16px);
				}
			}
		}
	}
	
}