/* ==========================
  Post Tags
============================= */
.post-tags {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: $post-width;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: breakpoint("md")) {
		max-width: none;
		padding: 0 10px;
		text-align: left;
	}

	@media screen and (max-width: breakpoint("xs")) {
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 10px;

		a {
			display: inline-block;
			padding: 5px 10px;
			border-radius: 16px;
			background-color: $light-grey-2;
			border: 1px solid $light-grey-3;
			@include rem(font-size,12px);
			@include transition(all .2s linear);
			font-weight: 600;
			color: $pink;

			&:hover {
				text-decoration: none;
				background-color: $pink;
				color: $white;
			}
		}
	}
}