/* ======================================================================
  Post metas
======================================================================== */
.post-metas {
	padding: 20px 15px;
	border-bottom: 1px solid $light-grey-3;
	@include rem(font-size,14px);
	margin: 0 auto;
	max-width: $post-width;
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	z-index: z("default");

	@media screen and (min-width: breakpoint("md")) {
		padding: 20px 0;
	}

	@media screen and (max-width: breakpoint("md")) {
		max-width: none;
	}

	@media screen and (max-width: breakpoint("xs")) {
		@include rem(font-size,12px);
	}

	i {
		margin-right: 3px;
	}

	.post-category {
		display: inline-block;
		color: $black;
		margin: 0 30px 0 0;
		color: $pink;
		font-weight: 600;
	}

}

/* ============================================
  IE 10-11 hack for search icon placement
============================================= */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.post-metas {
		max-width: none;
		text-align: center;
	}
}