/* ======================================================================
  Post blockquotes
======================================================================== */
$blockquote-padding: 80px;

blockquote {
	padding-left: $blockquote-padding;
	font-style: italic;
	position: relative;
	max-width: $post-width;
	margin: $blockquote-padding auto;
	position: relative;

	@media screen and (max-width: breakpoint("sm")) {
		margin: $blockquote-padding - 20 auto;
		padding-left: $blockquote-padding - 20;
	}

	@media screen and (max-width: breakpoint("xs")) {
		margin: $blockquote-padding / 2 auto;
		padding-left: $blockquote-padding / 2;
	}


	&:before {
		content: '\201C';
		@include rem(font-size,72px);
		position: absolute;
		left: 35px;
		top: -5px;
		font-family: Georgia, Times, serif;
		color: $pink;

		@media screen and (max-width: breakpoint("sm")) {
			left: 30px;
		}

		@media screen and (max-width: breakpoint("xs")) {
			left: 10px;
			@include rem(font-size,64px);
		}
	}

	p {
		margin: 0 !important;
	}
}