/* ======================================================================
  Post comments
======================================================================== */
.post-comments {
	background-color: $light-grey;
	padding: 60px 0;

	.container {
		width: $post-width;

	}
}