/* ======================================================================
  Post Frame effect
======================================================================== */
$post-frame-width: 15px;

@media screen and (min-width: breakpoint("sm")) {
	.single-post {

		#sb-site {
			padding: $post-frame-width;
			background-color: $pink;
		}

		.header {
			right: $post-frame-width;
			left: $post-frame-width;
			top: $post-frame-width;


			&.header-scroll {
				box-shadow: none;
				background-color: $white;
				color: $dark-grey;
				border-bottom: 1px solid $light-grey-3;
				top: 0;

				.animated-icon-menu { 
					span,
					span:before,
					span:after {
						background: $dark-grey;
					}

					&.js-active-icon span {
						background: 0 0;
					}
				}

			}

		}
	
	}
}


/* ======================================================================
  Post
======================================================================== */
$post-width: 800px;
$post-section-padding: 40px;

.post {
	background-color: $white;
	overflow: hidden;

/* ======================================================================
  Post content configuration classes
======================================================================== */
	.post-section {
		padding: $post-section-padding 0;
		overflow: hidden;

		p:last-of-type {
			margin-bottom: 0;
		}

		&.bg-white + .bg-white {
			padding-top: 0;
		}
	}

/* ====================================
  One Column layout
====================================== */
	.post-1-column {
		max-width: $post-width;
		margin: 0 auto;
	}

/* ====================================
  Two Columns Native layout
====================================== */
	.post-2-columns-native {
		
		@media screen and (min-width: breakpoint("md")) {
			padding: 0 $post-section-padding;
			max-width: 1400px;
			margin: 0 auto;
			
			.post-2-columns-inner-content {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				-webkit-column-gap: 3em;
	 			-moz-column-gap: 3em;
	  			column-gap: 3em;
	  		}

  			.post-headline,
  			p {
  				max-width: none;
  			}

		}

	}

}

/* ==========================================================
  IE 10-11 hack for logo and search icon placement
========================================================== */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.single-post .header { 
		text-align: center;

		a {
			display: inline-block;
		}	
	
		i {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@import "components/posts/_posts_blockquotes";
@import "components/posts/_posts_comments";
@import "components/posts/_posts_content";
@import "components/posts/_posts_images";
@import "components/posts/_posts_header";
@import "components/posts/_posts_metas";
@import "components/posts/_posts_navigation";
@import "components/posts/_posts_tags";
@import "components/posts/_posts_video";
