/* ======================================================================
  Post header
======================================================================== */
.post-header {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	
	@media screen and (min-width: breakpoint("sm")) {
		height: 580px;
	}

	@media screen and (min-width: map-get($breakpoints, xl)) {
		height: 800px;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: $black;
		opacity: .5;
	}
	
	.post-title-layer {
		z-index: 2;
		width: 100%;


		@media screen and (max-width: breakpoint("sm")) {
			padding: 0 60px;
		}

		@media screen and (max-width: breakpoint("xs")) {
			padding:0 15px;
		}
	}

	.post-title {
		@extend %tit-highlight;
		text-align: center;
		color: $white;
		margin: 0 auto;
		@include rem(font-size,72px);
		letter-spacing: -2px;
		max-width: 850px;

		@media screen and (max-width: breakpoint("lg")) {
			@include rem(font-size,60px);
		}

		@media screen and (max-width: breakpoint("md")) {
			@include rem(font-size,48px);
			letter-spacing:-1px;
		}
		
		@media screen and (max-width: breakpoint("xs")) {
			@include rem(font-size,36px);
		}
	}
}