/* ======================================================================
  Post navigation
======================================================================== */
.post-navigation {
	background-color: $white;
	border-top: 1px solid $light-grey-3;
	display: flex;

	.post-navigation-box {
		text-align: center;
		flex: 1;
		display: flex;
		overflow: hidden;

		
		a {
			@include flexbox($direction: column, $align: center);
			padding: 160px 20px;
			width: 100%;
			height: 100%;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			color: $white;

			@media screen and (max-width: breakpoint("md")) {
				padding: 80px 20px;
			}

			@media screen and (max-width: breakpoint("xs")) {
				padding: 40px 20px;
			}

			&:hover {
				text-decoration: none;

				&:after {
					opacity: .8;
				}

				.post-navigation-caption {
					
					h3, 
					p {
						@include transform(translateY(0));
					}
				
				}
			}

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				background-color: $black;
				opacity: .2;
				z-index: 1;
				@include transition(opacity .5s ease-in-out);

				@media screen and (max-width: breakpoint("md")) {
					opacity: .6;
				}
			}

			
			.post-navigation-caption {
				z-index: 2;
				@include flexbox($direction: column, $align: center);

				h3, 
				p {
					text-shadow: 1px 1px 1px rgba(0,0,0,.9);
					@include transition(all .3s ease-in-out);
				}
				
				h3 {
					@include rem(font-size,24px);
					letter-spacing: 0;
					width: 100%;
					@extend %tit;
					margin: 0;
					
					@media screen and (min-width: breakpoint("md")) {
						@include transform(translateY(-1500%));
					}

					@media screen and (max-width: breakpoint("md")) {
						@include rem(font-size,18px);
					}

					@media screen and (max-width: breakpoint("xs")) {
						@include rem(font-size,14px);
					}
				}

				p {
					@include transform(translateY(1000%));
					max-width: 500px;
					margin: 15px 0 0;

					@media screen and (max-width: breakpoint("md")) {
						display: none;
					}
				}
			}
		}
	}
}