/* ======================================================================
  Post content
======================================================================== */
%post-headline {
	@include rem(font-size,28px);
	margin: 40px auto 5px;
	font-family: $headlines-font;
	max-width: $post-width;
	font-weight: 600;
	letter-spacing: -1px;

	@media screen and (max-width: breakpoint("sm")) {
		padding: 0 15px;
		@include rem(font-size,22px);
		max-width: none;
	}
}

.post-content {
	padding: 60px 0;
	position: relative;
	
	&:before {
		display: block;
		content:'';
		width: 120%;
		height: 80px;
		background-color: $white;
		position: absolute;
		top: -55px;
		right: -10%;
		left: -10%;
		@include transform(rotate(-1deg));
		z-index: z("default");
	}

	@media screen and (max-width: breakpoint("xs")) {
		padding: 40px 0;
	}
	
	h4,
	.post-headline {
		@extend %post-headline;

		@media screen and (max-width: breakpoint("md")) {
			padding: 0 20px;
			max-width: none;
		}

		@media screen and (max-width: breakpoint("xs")) {
			padding: 0 10px;
		}
	}

	
	p {
		@include rem(font-size,20px);
		margin: 0 auto 40px;
		max-width: $post-width;
		line-height: 1.6;

		@media screen and (max-width: breakpoint("md")) {
			padding: 0 20px;
			max-width: none;
		}

		@media screen and (max-width: breakpoint("sm")) {
			@include rem(font-size,18px);
			line-height: 1.5;
		}

		@media screen and (max-width: breakpoint("xs")) {
			padding: 0 10px;
		}

		strong {
			font-weight: 600;
		}

		a:not(.post-category) {
			color: $pink;
			font-weight: 600;
			border-bottom: 1px dotted $pink;
			@include transition(all .2s linear);

			&:hover {
				border-bottom: 1px dashed $pink;
				text-decoration: none;
			}
		}
	}

/* ======================================================================
  Post first paragraph style
======================================================================== */
	.post-default,
	.post-section:first-of-type {

		p {

			&:first-of-type {
				@include rem(font-size,22px);
				color: $dark-grey;
				font-family: $headlines-font;
				letter-spacing: -0.8px;

				@media screen and (max-width: breakpoint("sm")) {
					@include rem(font-size,20px);
				}

				@media screen and (max-width: breakpoint("xs")) {
					@include rem(font-size,18px);
				}

				&::first-letter {
					@include rem(font-size, 90px);
					color: $pink;
					float: left;
					padding: 0 5px 0 0;
    				line-height: 65px;

    				@media screen and (max-width: breakpoint("sm")) {
						@include rem(font-size, 64px);
						line-height: 60px;
    				}

    				@media screen and (max-width: breakpoint("xs")) {
						@include rem(font-size, 48px);
						line-height: 53px;
    				}
				}

			}

		}
	}

/* ======================================================================
  Post custom layout
======================================================================== */
	.post-section {

		&:first-of-type {
			padding-top: 0;
		}

		.post-headline:first-of-type,
		h4:first-of-type {
			margin-top: 0;
		}
	}
}