/* ==========================
  Post Video
============================= */
.post-video {
    padding: 60px 0;
    overflow: hidden;

    p {
    	margin: 0 auto;
	    padding: 0;
	    text-align: center;

	    iframe {
	    	box-shadow: 0 0 60px 2px rgba(0,0,0,.4);
	    	
	    	@media screen and (max-width: breakpoint("xs")) {
	    		width:100%;
	    	}
	    }
    }

}