/* ======================================================================
  Post images
======================================================================== */
.post-content {

	figure {
		max-width: $post-width;
		margin: 60px auto;

		@media screen and (max-width: breakpoint("md")) {
			max-width: 100%;
		}

		&.full-width-image {
			max-width: 100%;
		}
		
		img {
			max-width: 100%;
			width: 100%;
		}

		figcaption {
			@include rem(font-size,12px);
			text-align: center;
			margin: 10px 15px 0;
			color: $dark-grey-2;
			line-height: 1.4;
		}
	}

	.post-headline {

		&+ figure {
			margin: 15px auto 60px;
		}
	}

}