/* ======================================================================
  Font face
======================================================================== */
// Fontello
@font-face {
  font-family: 'fontello';
  src: url($fonts-folder-path + 'fontello.eot');
  src: url($fonts-folder-path + 'fontello.eot#iefix') format('embedded-opentype'),
       url($fonts-folder-path + 'fontello.woff') format('woff'),
       url($fonts-folder-path + 'fontello.ttf') format('truetype'),
       url($fonts-folder-path + 'fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Gotham Black
@font-face {
    font-family: 'Gotham';
    src: url($fonts-folder-path + 'gotham_black-webfont.eot');
    src: url($fonts-folder-path + 'gotham_black-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'gotham_black-webfont.woff') format('woff'),
         url($fonts-folder-path + 'gotham_black-webfont.ttf') format('truetype'),
         url($fonts-folder-path + 'gotham_black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Gotham Bold
@font-face {
    font-family: 'Gotham';
    src: url($fonts-folder-path + 'GothamBold.eot');
    src: url($fonts-folder-path + 'GothamBold.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'GothamBold.woff') format('woff'),
         url($fonts-folder-path + 'GothamBold.ttf') format('truetype'),
         url($fonts-folder-path + 'GothamBold.svg#GothamBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// Gotham Medium
@font-face {
    font-family: 'Gotham';
    src: url($fonts-folder-path + 'GothamMedium.eot');
    src: url($fonts-folder-path + 'GothamMedium.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'GothamMedium.woff') format('woff'),
         url($fonts-folder-path + 'GothamMedium.ttf') format('truetype'),
         url($fonts-folder-path + 'GothamMedium.svg#GothamMedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Lato Semi Bold
@font-face {
    font-family: 'Lato';
    src: url($fonts-folder-path + 'Lato-Semibold.eot');
    src: url($fonts-folder-path + 'Lato-Semibold.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'Lato-Semibold.woff') format('woff'),
         url($fonts-folder-path + 'Lato-Semibold.ttf') format('truetype'),
         url($fonts-folder-path + 'Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

// Lato Light
@font-face {
    font-family: 'Lato';
    src: url($fonts-folder-path + 'lato-light-webfont.eot');
    src: url($fonts-folder-path + 'lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-folder-path + 'lato-light-webfont.woff') format('woff'),
         url($fonts-folder-path + 'lato-light-webfont.ttf') format('truetype'),
         url($fonts-folder-path + 'lato-light-webfont.svg#latolight') format('svg');
    font-weight: 100;
    font-style: normal;

}