/* ======================================================================
 Fontello
======================================================================== */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent:0;

  // No selectable text
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-menu:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-category:before { content: '\e803'; } /* '' */
.icon-cinema:before { content: '\e804'; } /* '' */
.icon-history:before { content: '\e805'; } /* '' */
.icon-literature:before { content: '\e806'; } /* '' */
.icon-advertising:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e808'; } /* '' */
.icon-travel:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-share:before { content: '\e80c'; } /* '' */
.icon-politics:before { content: '\e80d'; } /* '' */

$icon-cinema: '\e804';
$icon-history: '\e805';
$icon-literature: '\e806';
$icon-advertising: '\e807';
$icon-music: '\e808';
$icon-travel: '\e809';
$icon-politics: '\e80d';