/* ======================================================================
  Fonts
======================================================================== */
$primary-font: 'Lato';
$headlines-font: 'Gotham';

html {
	font-size: 16px;
}

body {
	font-family: $primary-font;
	font-weight: 100;
}

%tit {
	font-family: $headlines-font;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.1;
}

%tit-highlight {
	@extend %tit;
	text-shadow: 1px 1px 2px rgba(0,0,0,.8);

	a {
		color: $white;
	
		&:hover {
			text-decoration: none;
		}
	}
}

/* Links */
a {
	text-decoration: none;
	transition: $base-transition;

	&:hover {
		text-decoration: underline;
	}
}

/* Text classes */
.txt-bold {
	font-weight: 600;
}